page{ background-color: #fff; width: 100%; box-sizing: border-box; min-height: 100vh; }

/* iphoneX 吸底适配（前提是用了定位） */
.iphonex_bottom{ bottom: 52rpx !important; }
.iphonex_bottom::before{ content: ""; position: absolute; bottom: 0; left: 0; transform: translateY(100%); width: 100%; height: 52rpx; background-color: #181818; z-index: 10; }
/* iphoneX 吸底适配（底部占位容器） */
.iphonex_bottom_view{ width: 100%; height: 52rpx; }